*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.maincontainer{
    width: 100vw;
    height: 100vh;
    background-color: #a0849d;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Kanit', sans-serif;
}
.navbar{
    width: 80%;
    height:10%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.displaysection{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentsection{
    width:40%;
    height: 80%;
    background-image:linear-gradient(crimson,blue);
    border-radius: 20px;
    box-shadow: 2px 2px 2px crimson;
    display: flex;
    flex-direction: column;
}
.searchsection{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#userinput{
    width: 60%;
    height: 60%;
    border-radius: 20px;
    padding: 1rem;
    margin-right: 0.5rem;
    border: none;
    outline: none;
}
.btn{
    width: 10%;
    height:60%; 
    border-radius: 50%;
    font-size: 1.5rem;
    border: none;
    outline: none;
}
#card{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#uppersection{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#lowersection{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content:space-around ;
    align-items: center;
}